<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <endpoint address="http://rentit.dk:9000/Services/Service.svc/ContentBrowsing"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContentBrowsing"
            contract="RentItService.IContentBrowsing" name="BasicHttpBinding_IContentBrowsing"
            xdt:Transform="SetAttributes"
            xdt:Locator="Match(name)" />
      <endpoint address="http://rentit.dk:9000/Services/Service.svc/ContentManagement"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContentManagement"
            contract="RentItService.IContentManagement" name="BasicHttpBinding_IContentManagement"
            xdt:Transform="SetAttributes"
            xdt:Locator="Match(name)" />
      <endpoint address="http://rentit.dk:9000/Services/Service.svc/RentalManagement"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRentalManagement"
            contract="RentItService.IRentalManagement" name="BasicHttpBinding_IRentalManagement"
            xdt:Transform="SetAttributes"
            xdt:Locator="Match(name)" />
      <endpoint address="http://rentit.dk:9000/Services/Service.svc/UserManagement"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserManagement"
            contract="RentItService.IUserManagement" name="BasicHttpBinding_IUserManagement"
            xdt:Transform="SetAttributes"
            xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>
</configuration>