<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RentItContext" providerName="System.Data.SqlClient" 
         connectionString="Data Source=RentIt.itu.dk;Initial Catalog=RentIt12;Persist Security Info=True;
         User ID=RentIT12Db;Password=Zaq12wsx;Pooling=False" />
  </connectionStrings>
</configuration>
