<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="RentItContext" providerName="System.Data.SqlClient" connectionString="Data Source=RentIt.itu.dk;Initial Catalog=RentIt12;Persist Security Info=True;User ID=RentIT12Db;Password=Zaq12wsx;Pooling=False;MultipleActiveResultSets=True" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <client />
    <services>
      <service name="RentItService.Services.Service" behaviorConfiguration="ServiceBehavior">
        <endpoint address="ContentBrowsing" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUpDownloadService" contract="RentItService.Interfaces.IContentBrowsing" />
        <endpoint address="ContentManagement" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUpDownloadService" contract="RentItService.Interfaces.IContentManagement" />
        <endpoint address="RentalManagement" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUpDownloadService" contract="RentItService.Interfaces.IRentalManagement" />
        <endpoint address="UserManagement" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUpDownloadService" contract="RentItService.Interfaces.IUserManagement" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior" >
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUpDownloadService" closeTimeout="01:01:00"
          openTimeout="01:01:00" receiveTimeout="01:10:00" sendTimeout="01:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Streamed"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <appSettings>
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/" value="8647;True;4020;4;-8588682867975804889" />
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="6;web.config.backup" />
    <add key="RentalDays" value="7" />
    <add key="BaseFilePath" value="C:\RentItServices\RentIt12\Files\" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"></assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
      </listeners>
    </trace>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="sdt"
               type="System.Diagnostics.XmlWriterTraceListener"
               initializeData="WcfDetailTrace.svclog"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>