<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="RentItContext"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=RentIt.dk;Initial Catalog=RentIT.dk;Persist Security Info=True;User ID=RentIT.dk;Password=Vand22kanon;Pooling=False;MultipleActiveResultSets=True"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
  </system.web>
</configuration>